.pageBody
	{
	margin-right: auto;
	margin-left: auto;
	width: 760px;
	}

.reportBody
	{
	margin-top: 5px;
	padding-bottom: 2px;

	border: 1px solid black;
	}

hr
	{
	margin-right: 10px;
	margin-left: 10px;
	}

.idxBar
	{
	text-align: center;
	border-bottom: 3px double;
	line-height: 40px;
	margin-left: 50px;
	margin-right: 50px;
	}

.idxBody
	{
	margin-top: 12px;
	margin-bottom: 12px;
	}

.idxLetter, .idxSur
	{
	font-weight: bold;
	}	

.sur
	{
	padding: 22px;
	}

.surRecord
	{
	margin: .2em;
	padding-top: .2em;
	border-top: dotted;
	border-width: 1px;
	}
	
div.sur > div:first-child
	{
	border-top: none;
	padding-top: 0em;
	}

.surLetter
	{
	float: left;
	width: 1em;
	font-size: 1.2em;
	text-align: center;
	}

.surName
	{
	display: block;
	margin-left: 1.5em;
	}

.idxLetter
	{
	letter-spacing: 5px;
	}	

.idxSur
	{
	margin: 10px 8px 1px;
	font-weight: bold;
	padding: 2pt;
	border-bottom: 1px solid;
	margin-right: 60px;
	}

.idxName
	{
	margin-right: 10px;
	margin-left: 10px;
	padding: .1em .1em .1em 2em;
	}

.idxDate
	{
	letter-spacing: -1px;
	}

.rrNav
	{
	text-align: center;
	font-weight: bold;
	padding: 2px 0px 2px 0px;
	padding: .4em;
	}

.footer
	{
	margin-left: 6%;
	margin-right: 6%;
	padding: 0;
	text-align: center;
	}