.pageTitle, .psTitle, .tocTitle
	{
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	}
	
.tocTitle
	{
	font-size: 1.8em;
	}

.citation
	{
	font-size: 0.6em;
	font-weight: normal;
	vertical-align: super;
	}

.smallBullet
	{
	font-size: 1.8em;
	font-style: normal;
	font-weight: bold;

	vertical-align: -0.2em;
	margin: 0.1em;
	}


.footerCreated, .footerCustom
	{
	font-size: 0.9em;
	}