a img {	border-style: none; margin: 0 3px; }

.pageBody
	{
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	width: 800px;
	text-align: center;
	}

.reportBody
	{
	padding: 10px;
	border: 1px solid black;
	}
	
.pageTitle
	{
	margin-bottom: 5px;
	}

.wcFathers, .wcMothers
	{
	clear: both;
	}

.wcHFather, .wcHMother
	{
	float: left;
	}

.wcWFather, .wcWMother
	{
	float: right;
	}
	
.wcHFather, .wcHMother, .wcWFather, .wcWMother
	{
	min-height: 2.5em;
	width: 47%;
	margin-bottom: .4em;
	padding: 3px;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcHusband, .wcWife, .wcHFacts, .wcWFacts,
.wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	border: 1px solid black;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcHusband, .wcWife,
.wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	}

.wcHFather, .wcHMother, .wcWFather, .wcWMother,
.wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold
	{
	margin-top: 3px;
	}

.wcParentDate,
.wcChildDate, .wcChildStatus
	{
	font-size: 0.8em;
	font-weight: normal;
	}

.wcParentDate
	{
	display: block;
	}




.wcChildDate, .wcChildStatus
	{
	/*****
	To show dates and status on multiple lines change the
	display from span to block

	display: block;
	-----------------
	To show dates and status on a single line use margin-left to
	add a space between the words
	
	margin-left: 0.2em;
	*****/


	margin-left: 0.2em;
	}




.wcParentName
	{
	font-size: 1.1em;
	margin-right: .4em;
	}

.wcMarriage
	{
	font-size: 1.1em;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: .4em;
	padding: 3px;
	clear: both;
	}
			
.wcSource
	{
	font-size: 1.2em;
	font-weight: bold;
	}

.wcWifeWrapper,.wcHusbandWrapper
	{
	min-height: 25px;	
	}
	
.wcHusband, .wcWife
	{
	width: 47%;
	padding: 3px;
	margin-bottom: 3px;
	}
	
.wcHusband
	{
	float: left;
	}
	
.wcWife
	{
	float: right;
	}
	
.wcFacts
	{
	font-size: 0.9em;
	clear: both;
	}
	
.wcHFacts
	{
	float: left;
	}
	
.wcWFacts
	{
	float: right;
	}
	
.wcHFacts, .wcWFacts
	{
	min-height: 100px;
	width: 47%;	
	margin-bottom: .4em;
	padding: 3px;
	}

.wcFactPicture img
	{
	float: right;
 	border-radius: 2px;
	border: 4px double;
	}

.wcFactPicture img
	{
	height: 110px;
	width: auto;
	}

.wcFactsRecord
	{
	text-align: left;
	padding: 2px;
	}
	
.wcHFactsWrapper, .wcWFactsWrapper,
	{
	min-height: 300px;
	}
	
.wcFacts
	{
	font-size: 0.9em;
	width: 100%;
	}

.wcFactTitle
	{
	display: table-cell;
	width: 2.4em;
	font-weight: bold;
	text-align: right;
	}
		
.wcFactData
	{
	display: table-cell;
	padding-left: 5px;
	}
	
.wcHSpousesWrapper, .wcWSpousesWrapper
	{
	width: 47%;
	padding: 0px 3px 3px 3px;
	}

.wcHSpousesWrapper
	{
	float: left;
	text-align: left;
	}
	
.wcWSpousesWrapper
	{
	float: right;
	text-align: right;
	}
	
.wcChildrenTitle
	{
	margin-top: 3px;
	padding: 3px;
	font-size: 1.2em;
	font-weight: bold;
	}

.wcNotSplit
	{
	clear: both;
	width: 80%;
	margin: auto;
	}

.wcChild, .wcFChild, .wcMChild,
.wcChildBold, .wcFChildBold, .wcMChildBold
	{
	padding-top: 1px;
	padding-bottom: 2px;
	}

.wcChildBold, .wcFChildBold, .wcMChildBold
	{
	font-weight: bold;
	}
